html{
    text-align: center;
    
}

header{
    background-color: rgba(0,0, 0,0.9);
    padding-top: 40px;
    padding-bottom: 10px;
    
}
.container{

    border-left: 8px solid  rgb(106, 106, 110); 
    border-top: 8px solid  rgb(55, 55, 55);  
    border-bottom: 8px solid orangered;   
    border-right: 8px solid rgb(248, 165, 10); 
    border-radius: 10px;
    margin-top: 5%;
    padding: 20px;
}

.container1{
	
    padding: 20px;
    display: block;    
    border-radius: 5px;
    font-size: small;
}

.products img{

    width: 90%;
}

.oldStock{
    border-left: 2px solid rgb(219, 219, 219);
}

.newStock{

    background-color:rgb(255, 254, 250);
}



#stockBody table{
    width: 60%;
    padding: 10px;
}


.cart button{
    border: none;
    background-color:orange;
    color: rgb(90, 89, 89);
    padding: 8px;
    border-radius:13px;
}

.oldStock input{

    width: 80px;
}

#display{

    margin-top: 43px;
  
}

th{
    font-size: small;
}

td{
   
    padding: 5px;
    font-size: 12px;
}

.login{
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    margin-top: 10%;    
    border-left:1px solid  rgb(106, 106, 110); 
    border-top: 1px solid  rgb(55, 55, 55);  
    border-bottom: 1px solid orangered;   
    border-right: 1px solid rgb(248, 165, 10);
    border-radius: 5px;
}

.login button {

    margin-left:10px;
    margin-top:10px;
    width: 35%;
    background-color: orange;
    color: rgb(93, 89, 89);
    font-size: 1.0em;
    font-weight: bold;
    border: none;
    border-radius: 7px;   
    box-shadow:0.7px 0.7px 1.5px 1.5px rgba(0,0,0,0.4);
    margin-bottom: 50px;
  }
  
  
  .login input{
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px  solid grey;
  color: grey;
  }

.orderHistory p{

    font-family: monospace;;
  
    font-size: 1.2em;
}

#order{
    box-shadow: 1px 1px 1px 1px rgb(191, 189, 189);
    margin-top: 70px;
    width: 50%;
    margin-left: 25%;
}

#addBrand, #addSize, #addColor,#price,#qty{
  width: 120px;

  margin-bottom: 10px;
}

#addSize, #price{
	margin-left: 7px;
margin-bottom: 10px;
}

#addBrand{
    margin-bottom: 10px;
}

#qty{
	margin-left: 15px;

}

table{
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}



h2{
    width: 50%;
    color:rgba(0,0, 0,0.7 );
    font-size: 2.2em;
    margin-left: 25%;
    font-family: monospace;

}

h1{
    font-size: 2.7em;
    font-weight: bolder;
 font-family:monospace;
    color: rgba(0,0, 0,0.6 );
    margin-left: 25%;
    margin-right: 25%; 
    background-image: linear-gradient(to right,rgb(246, 246, 246),rgb(230, 142, 10),rgb(240, 233, 233));
    text-shadow: 5.3px  orangered;
}

.item{
    display: grid;
    grid-template-columns: 1fr 4fr;
   
}

.history{
    width:30%;
}
.text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

.text span{
    font-weight: bolder;
    font-size: 13px;
    color: black;
  
}

.item img{
    width: 100%;
}


#checkout, #back{
    background-color: grey;
    border-radius: 5px 5px;
    border: none;
    padding: 5px;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 35px;
    color: orange;
    }

    #back{
        color: aliceblue;
        width: 100px;        
    background-color: rgb(47, 44, 44);
    }

#itemCount{
    border-radius: 50%;
    padding: 3px;
    font-size: 8px;
    color: orangered;
    margin-top:-25px;
    height:81%;
    margin-right: -5px;
    border: 1px solid orangered;
    
    }

   

    .pay{

        background-color: orange;
        border-radius: 5px 5px;
        border: none;
        color:rgb(90, 88, 88);
        padding:5px;
        width:75px;
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 15px;
        }
        
        #error{
        
        font-size: 1em;
        text-align: center;
        
        }

    a{
        color: orangered;
        
    }

    #admin{
        
        font-size: 1.3em;
      
    float: left;
    color: orangered;
margin-top: -8px;
margin-bottom: 10px;
      margin-left: 15px;
      margin-right:20px;
    }

    #home,#clock{
            
        font-size: 1.3em;
    float: left;
    margin-right:20px;
    color: orangered;
margin-top: -8px;
margin-bottom: 10px;
      margin-left: 15px;
     }


.buttons{  
margin-top: 20px;
}
 
#addMessage{

width: 50%;
color: navy;
border: 1px solid  navy;
margin-left: 25%;
visibility: hidden;
}   

    #clockIcon{

        font-size: 1.3em;
      margin-bottom: -17px;
        margin-right: 65px;
        color: orangered;
        }


        #homeIcon{

            font-size: 1.3em;
          margin-bottom: -17px;
            margin-right: 25px;
            color: orangered;
            }



        #cart{

            font-size: 1.3em;
            margin-top:-1px;
            color: orangered;
            }
            
            .icon{
            position: relative;
            display: flex;
            justify-content: right;
            padding-right:35px;
            
            }
#search,#add{
    border: none;
    background-color:rgb(222, 155, 31);
    color: rgba(0,0, 0,0.7 );
    padding: 4px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0.3px 0.3px 0.6px 0.6px rgb(78, 71, 61);
}

.products button{
    border: none;
    width: 170%;
    background-color: rgba(0,0, 0,1 );
    border-radius: 3px;
    color: orange;
    margin-left: 150%;
    padding: 5px;
    font-weight: bold;
 margin-top: 20px;
    margin-bottom: 15px;
    font-size:11px;
    
box-shadow:1px 1px 2px 2px grey;
}

.item{
box-shadow:0.7px 0.7px 2px 2px grey;
    margin: 5px;
    border-radius: 10px;
}

#add{
width: 130px;
padding:5px;
margin-left: 44px;
background-color: rgba(0,0,0,0.9);
color:orange;
font-size: 1.0em;
font-weight: bold;
}

@media screen and (min-width:800px){

    .products{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    
    .container1{
	
	margin: 0 auto;
margin-top: 5%;
    padding: 20px;
    width: 60%;
    
}

#logout{
    margin-left: 85%;
    padding: 5px;
    
    background-color: red;
    color: rgb(47, 45, 45);
margin-top: 5px;
border:none;
border-radius: 3px;
}

#stockBody{

    display: grid;
    grid-template-columns: 1fr 3fr;
}



.container{
    
    width: 80%;
    margin: 0 auto;
}
}

#updateBtn{
    background-color: rgb(43, 42, 42);
    color: whitesmoke;
    font-size: small;
    padding: 3px;
    border-radius: 3px;
}

@media screen and (max-width:799px){

 .container{
    border: none;
   
 }

 #addBrand, #addSize, #addColor,#price,#qty{
    width: 200px;
 
  }

  #add{
    width: 220px;
  }
.login button {

    font-size: 0.8em;
    width: 85%;
    border-radius: 3px;
}

 .item{
    margin-bottom: 8px;
 }

 #img{
    width: 50%;
 }


 h1{
    font-size: 2.0em;
 }

 h2{
    font-size:1.4em; ;
 }


 #admin,#cart, #clock,#home{

    font-size: 0.8em;
    margin-top: 5px;
 }




#itemCount{
    margin-top: -15px;
    margin-bottom: -14px;
}

#search{
    margin-top: 10px;
}

#cart{
    margin-top: 5px;
}

.text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    margin-top: 20px;
}

select{
    width: 10%;
}


header{
    padding-top: 18px;
}

}